# Apache Maven
/Packages/Apache_Maven/target

# NuGet
/Packages/NuGet/test/bin
/Packages/NuGet/test/obj
/Packages/NuGet/test/nuget.config

# RubyGems
/Packages/RubyGems/**/*.gem

# Releases
/releases/*
!releases/CHANGELOG.md
!releases/VERSION.md
